#nav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
}

#content {
    position: absolute;
    top: 10px;
    left: 100px;
}

.active::before {
    content: "> ";
}