<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark">

    <script src="/s/htmx.min.js"></script>

    <style>
        body {
            font-family: monospace;
        }
        a { color: #56c8ff }
        a:hover { color: lightblue }

        table td {
            padding: 0 0.4em
        }
        tr:hover td {
            background-color: #333;
        }
    </style>
    <link rel="stylesheet" href="/s/admin.css">

    {{ if .IsAuthenticated }}
        <title>Blog - New Post</title>
    {{ else }}
        404 not found
    {{ end }}
</head>
<body>
    {{ if .IsAuthenticated }}
        <!-- <h2>Admin Panel</h2> -->
        <div id="main">
            {{ template "nav" . }}

            <div id="content">
                Select an item in the navigation menu
                
                <br>
                {{ .User.Username }}
            </div>
        </div>
    {{ else }}
        404 not found
    {{ end }}
</body>
</html>
