<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark">

    <script src="/s/htmx.min.js"></script>

    <link rel="stylesheet" href="/s/sidebar.css">
    <style>
        body {
            font-family: monospace;
        }
        a { color: #56c8ff }
        a:hover { color: lightblue }

        table td {
            padding: 0 0.4em
        }
        tr:hover td {
            background-color: #333;
        }

        #content {
            position: absolute;
            left: 100px;
            top: 0;
            width: calc(100% - 100px);
            height: 100%;
        }
    </style>


    {{ if (eq .Post.ID -1) }}
        <title>Blog - 404 not found</title>
    {{ else }}
        <title>Blog - {{ .Post.Title }}</title>
    {{ end }}
</head>
<body>
    {{ if (eq .Post.ID -1) }}
        404 not found
    {{ else }}
        <div id="nav">
            <a href="/">home</a>
        </div>
        <div id="content">
            <h2>{{ .Post.Title }}</h2>
            <pre>{{ .Post.Content }}</pre>
        </div>
    {{ end }}
</body>
</html>
